html, body { 
	background: url("../img/paper.png") no-repeat center center fixed;
	height: 100%;
	background-size: cover;
}

@font-face {
	font-family: 'My Underwood';
	src: url('../fonts/MyUnderwood.ttf');
}

@font-face {
	font-family: 'Magnolia light';
	src: url('../fonts/Magnolia-Light.ttf');
}

@font-face {
	font-family: 'Harabara';
	src: url('../fonts/Harabara.ttf');
}

.body { 
	height: 100%;
	min-height: 100%;
	overflow: auto;
	padding-bottom: 80px; 
}

.container {
	font-family: My Underwood, Futura, Georgia, Arial, serif;
	background: url("../img/confidential.gif") no-repeat center center; 
	background-size: 65%;
}

#info {
	float: left;
	margin-left: 90px;
	margin-top: 80px;
	width: 350px;
}

#pic {
	float: right;
	min-width: 8px;
	margin-top: -10px;
}

.box {
	display: inline-block;
	position: absolute;
	width: 100px;
	height: 15px;
	left: 260px;
	top:  141px;
	background-color: black;
}

.date {
	display: inline-block;
	position: absolute;
	width: 100px;
	height: 15px;
	left: 260px;
	top: 180px;
	background-color: black;
}

.clear {
	clear: both;
}

.main_body {
	position: relative;
	display: inline-block;
	margin-left: 40px;
	margin-right: 20px;
}

.main_body h2 {
	text-align: center;
	text-decoration: underline;
}

.main_body p {
	text-align: left;
}

#bold {
	font-weight: 900;
	font-size: 1.2em;
}

p:nth-child(7) {
	text-align: center;
	font-weight: 100;
	font-size: 75%;
}

#contact li {
  position: relative;
	display: block;
	float: left;
	list-style-type: none;
	min-width: 15em;
	margin-left: 15px;
	top: 30px;
	left: 8%;
	text-align: center;
	font-family: My Underwood, Futura, Georgia, Arial, serif;
}

#contact li a {
	text-decoration: none; 
	color: black;
}

#contact li a:hover {
	color: red;
}

a.selected {
	color: red;
	background: #fff70d;
}

.footer {
	position: relative;
	margin-top: -80px;
	height: 100px;
	clear: both;
}



