body {
	background: url("../img/paper.png") no-repeat center center fixed; 
	background-size: cover;
	height: 100%;
}

@font-face {
	font-family: 'My Underwood';
	src: url('../fonts/MyUnderwood.ttf');
}

@font-face {
	font-family: 'Magnolia light';
	src: url('../fonts/Magnolia-Light.ttf');
}

@font-face {
	font-family: 'Harabara';
	src: url('../fonts/Harabara.ttf');
}

.body {
	height: 100%;
	min-height: 100%;
	overflow: auto;
	padding-bottom: 100px; 
}

.body h2 {
	color:red;
	text-align: center;
	font-family: Harabara, Magnolia light, Noteworthy Light, Savoye LET Plain, Georgia, sans-serif;
	text-transform: uppercase;
	font-size: 4em;
}	

.body p {
	text-align: center;
	font-size: 1.5em;
	font-family: My Underwood, Futura, Georgia, Arial, serif;
}

.body h3 {
	float: right;
	padding-right: 60px;
	font-family: Magnolia light, Zapfino Regular, Georgia, serif;
	font-size: 2em;
	min-width: 50%;
	text-align: right;
}

#contact li {
  position: relative;
	display: block;
	float: left;
	list-style-type: none;
	min-width: 10em;
	margin-left: 80px;
	top: 30px;
	left: 8%;
	text-align: center;
	font-family: My Underwood, Futura, Georgia, Arial, serif;
}

#contact li a {
	text-decoration: none; 
	color: black;
}

#contact li a:hover {
	color: #F00;
}

a.selected {
	/*color: red;*/
	background: #fff70d;
}

.footer {
	position: relative;
	margin-top: -100px;
	height: 150px;
	margin-left: -30px;
	clear: both;
	margin-right: 30px;
}
	



